<section class="text-centro">
    <h2>Recursos de la Última Civilització Creada: {{stats.name}}</h2>
    <br>
    <div class="cards">
        <div class="card">
            <img class="img-recurso" src="img/menjar.png">
            <h3 class="card-titulo">Menjar</h3>
            <p>{{stats.food_amount}}</p>
        </div>
        <div class="card">
            <img class="img-recurso" src="img/fusta.png">
            <h3 class="card-titulo">Fusta</h3>
            <p>{{stats.wood_amount}}</p>
        </div>
        <div class="card">
            <img class="img-recurso" src="img/ferro.png">
            <h3 class="card-titulo">Ferro</h3>
            <p>{{stats.iron_amount}}</p>
        </div>
        <div class="card">
            <img class="img-recurso" src="img/mana.png">
            <h3 class="card-titulo">Manà</h3>
            <p>{{stats.mana_amount}}</p>
        </div>
    </div>
</section>